<form action="/chat/" method="post" style="display: inline;">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <input type="submit" name="chat" value="Чат" />
    <div class="badge-unread" id="bage-unread-{{ user.id }}"></div>
</form>
