<div class="user" id="{{ user.id }}">

        <div class="firstname">
            Имя:
            {% if link %}
                <a href="/userpage/{{ user.id }}/">{{ user.firstname }}</a>
            {% else %}
                {{ user.firstname }}
            {% endif %}
        </div>

    <div class="lastname">
        Фамилия: {{ user.lastname or '' }}
    </div>
    {% if user.sex %}
    <div class="sex">
        Пол: {%- if user.sex == 'm' %}Мужской{% else %}Женский{% endif %}
    </div>
    {% endif %}

    <div class="city">
        Город: {{ user.city or '' }}
    </div>
    {% if user.interest %}
    <div class="interest">
        Интересы: {{ user.interest or '' }}
    </div>
    {% endif %}
</div>
