<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css" type="text/css">

{% include "links.jinja2" %}
<document>
    <h2>Данные пользователя:</h2>

    {%- set user = current_user %}
    <div style="width: 400pt">
    {% include "usercard.jinja2" %}
    </div>

    {% if friends %}
        <br>
        <div class="friends box">
        <h2>Друзья:</h2><br>
        {% for user in friends %}
        {% include "usercard.jinja2" %}
        {% include "del_friend.jinja2" %}
        {% endfor %}
        </div>
    {% endif %}


    {% if subscribers %}
        <hr>
        <div class="friends box">
        <h2>Подписчики:</h2><br>
        {% for user in subscribers %}
        {% include "usercard.jinja2" %}
        {% include "add_friend.jinja2" %}
        {% endfor %}
        </div>
    {% endif %}

</document>

</html>
