<html>

<document>

    <div class="user">
        <div class="firstname">
            Имя: {{ firstname }}
        </div>
        <div class="lastname">
            Фамилия: {{ lastname }}
        </div>
        <div class="sex">
            Пол: {{ sex }}
        </div>
        <div class="city">
            Город: {{ city }}
        </div>
        <div class="interest">
            Интересы: {{ interest }}
        </div>
    </div>
</document>

</html>
